<div class="col side-bar">
    <h4>Cuisines:</h4>
    <% areaNames.forEach(areaName => { %>
        <p class="side-menu">
            <a href="/areas/<%= areaName.strArea %>">
                <%= areaName.strArea %>
            </a>
        </p>
        <% }); %>
</div>