<div class="col-12 col-md-2 side-bar">
    <h4 class="main-title">Cuisines:</h4>
    <% areaNames.forEach(areaName => { %>
        <p class="side-menu">
            <a href="/areas/<%= areaName.strArea %>">
                <%= areaName.strArea %>
            </a>
        </p>
        <% }); %>
</div>