<div class="col-12 col-md-2 side-bar">
    <h4 class="main-title">Meal Categories:</h4>
    <% categoryNames.forEach(categoryName => { %>
        <p class="side-menu">
            <a href="/categories/<%= categoryName.strCategory %>">
                <%= categoryName.strCategory %>
            </a>
        </p>
        <% }); %>
</div>