<%- include('./partials/header'); -%>
    <div class="row main-row">
        <%- include('./partials/categories-menu'); -%>
            <div class="col-12 col-md-8">
                <h2 class="main-title my-5">
                    Meal Shopping Cart App
                </h2>
                <div class="text-center">
                    <p>
                        This full-stack web application was created with 💖 for food and web development.
                    </p>
                    <p>It is based on Node.js - Express.js - MongoDB - EJS stack.</p>
                    <p>Prices are randomly generated and do not state any sort of public offer.</p>
                    <p>You may <a href="/" class="text-warning bg-dark px-2">use it</a> just for fun 🎉.</p>
                </div>
            </div>
            <%- include('./partials/areas-menu'); -%>
    </div>
    <%- include('./partials/footer'); -%>