html,
body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    /* default is 1rem or 16px */
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5;
}

.cart-icon {
    padding: 0 15px;
    filter: invert(100%);
}

.main-title {
    margin: 15px auto;
    text-align: center;
}

.container-fluid {
    margin-top: 83px;
    min-height: calc(100vh - 145px);
    background: linear-gradient(rgb(247, 210, 168), #f59d39);
}

.main-row {
    min-height: 100%;
}

.side-bar {
    border: 1px solid black;
    background: linear-gradient(rgb(212, 138, 78), #DE8033);
}

.side-bar:hover {
    box-shadow: 5px 10px 15px #444;
}

.side-menu a {
    color: #5E4632;
    font-weight: 500;
    text-decoration: none;
}

.side-menu a:hover {
    color: #DE8033;
    background-color: #5E4632;
}

.main-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    background: linear-gradient(#F7C093, rgb(245, 177, 122));
}

.flex {
    border: 3px solid black;
}

.card {
    transition: all .2s ease .1s;
}

.card:hover {
    box-shadow: 5px 10px 20px #444;
    transform: scale(1.03);
}

.card-image {
    width: 100%;
}

.card-params {
    display: flex;
    justify-content: space-between;
}

.qty-minus,
.qty-plus {
    cursor: pointer;
}

input[type=number] {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

.total-amount-container {
    width: 60%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.total-amount {
    text-align: left;
    font-size: 1.5rem;
}

#recipe-container {
    height: 950px;
    overflow: auto;
}

.footer {
    height: 60px;
    background-color: #444;
    text-align: center;
    color: #AB6227;
}

.footer h5 {
    line-height: 2rem;
}